@model AwakenYourSmile.Web.Models.UploadFileModel
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Upload", "Historial", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Reference)
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
}
